
<style media="screen">
  .image_div { 
  	background-image: url(<%= @idea.picture %>);
  	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-size:cover;
	opacity: 0.4;
  z-index: -1;
  	 }
</style>
<div class="image_div"></div>
<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
  <% if current_user == @idea.user %>
    <p class="right">
    <%= link_to 'Edit', edit_idea_path(@idea) %>
    </p>
  <% end %>
<% end %>


<div class = "presentation">
  <h2>
    <%= @idea.name %>
  </h2>
  <h5> 
    <%= @idea.slogan %>
  </h5>
  

  <p>
    <%= @idea.description %>
  </p>

  
  <h1> 
    <%=@idea.vote_count %><span> votes</span>
    </h1>
</div>
<!--p>
  <strong>Picture:</strong>
  <%#= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %>
</p-->

<%#= link_to 'Back', ideas_path %>
